.bg-primary{
    background-color: var(--pink)!important;
}

#Nav a{
    color: white;
    text-decoration:none;
  }
  
  .active, .nav-item:hover {
    background-color: rgba(9, 6, 7, 0.107);
  }
  @import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

  :root{
      --lg-font: 'Kaisei Tokumin', serif;
      --sm-font: 'Poppins', sans-serif;
      --pink: #e5345b;
  }
  body{
      font-family: var(--sm-font);
  }
  
  /* number input */
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #e5345b;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    content: '\f077';
    transform: translate(-50%, -50%) rotate(180deg);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 2rem;
    padding: .3rem;
    border: solid #e5345b;
    border-width: 0 2px;
    font-size: 15px;
    height: 2rem;
    font-weight: bold;
    text-align: center;
  }
  
  
  /* button */
  .bg-primary{
      background-color: var(--pink)!important;
  }
  
  .btn:not(.nav-btns button){
      background-color: #fff;
      color: rgb(85, 85, 85);
      padding: 10px 28px;
      border-radius: 25px;
      border: 1px solid rgb(85, 85, 85);
  }
  .btn:not(.nav-btns button):hover{
      background-color: var(--pink);
      color: #fff;
      border-color: var(--pink);
  }
  .link
  {
     text-decoration: none; 
     color: black;
  }
  .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 14px;
    }
  /* text color */
  .text-primary{
      color: var(--pink)!important;
  }
  
 
  
 
 